<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangwen.gdfwzhxt.manager.mapper.ElectricityUsageMapper">
    <sql id="columns">
        id,
        cons_no as consNo,
        cons_name as consName,
        record_time as recordTime,
        used_energy as usedEnergy,
        remaining_balance as remainingBalance,
        company
    </sql>

    <!--  生成记录  -->
    <insert id="addElectricityUsage">
        insert into t_electricity_usage (
            id,
            cons_no,
            cons_name,
            record_time,
            used_energy,
            remaining_balance,
            company
        ) values (
            #{id},
            #{consNo},
            #{consName},
            #{recordTime},
            #{usedEnergy},
            #{remainingBalance},
            #{company}
        )
    </insert>
</mapper>