<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangwen.gdfwzhxt.manager.mapper.ElectricityUsageMapper">
    <sql id="columns">
        id,
        cons_no as consNo,
        cons_name as consName,
        record_time as recordTime,
        used_energy as usedEnergy,
        remaining_balance as remainingBalance,
        company,
        last_record_to_now_used_energy as lastRecordToNowUsedEnergy,
        last_record_to_now_used_balance as lastRecordToNowUsedBalance
    </sql>

    <!--  生成记录  -->
    <insert id="addElectricityUsage">
        insert into t_electricity_usage (
            id,
            cons_no,
            cons_name,
            record_time,
            used_energy,
            remaining_balance,
            company,
            last_record_to_now_used_energy,
            last_record_to_now_used_balance
        ) values (
            #{id},
            #{consNo},
            #{consName},
            #{recordTime},
            #{usedEnergy},
            #{remainingBalance},
            #{company},
            #{lastRecordToNowUsedEnergy},
            #{lastRecordToNowUsedBalance}
        )
    </insert>

    <!--  条件查询所有电能使用情况  -->
    <select id="getElectricityUsedByCondition"
            resultType="com.wangwen.gdfwzhxt.model.vo.cons.ElectricityUsedVo">
        select t.cons_no as consNo, t.cons_name as consName,
               sum(t.last_record_to_now_used_energy) as electricityUsed,
               sum(t.last_record_to_now_used_balance) as chargeUsed
          from t_electricity_usage t
        <where>
            <if test="consNo != null and consNo != ''">
                and t.cons_no like concat('%', #{consNo}, '%')
            </if>
            <if test="consName != null and consName != ''">
                and t.cons_name like concat('%', #{consName}, '%')
            </if>
            <if test="recordBeginTime != null and recordBeginTime != ''">
                and t.record_time &gt;= #{recordBeginTime}
            </if>
            <if test="recordEndTime != null and recordEndTime != ''">
                and t.record_time &lt;= #{recordEndTime}
            </if>
            and exists (select 1 from t_user u where u.is_deleted = 0 and u.id = t.company)
        </where>
        group by t.cons_no, t.cons_name
    </select>

    <!--  条件查询电能使用情况明细  -->
    <select id="getElectricityUsedDetailByCondition"
            resultType="com.wangwen.gdfwzhxt.model.entity.cons.ElectricityUsage">
        select <include refid="columns"/>
          from t_electricity_usage t
        <where>
            <if test="consNo != null and consNo != ''">
                and t.cons_no like concat('%', #{consNo}, '%')
            </if>
            <if test="consName != null and consName != ''">
                and t.cons_name like concat('%', #{consName}, '%')
            </if>
            <if test="recordBeginTime != null and recordBeginTime != ''">
                and t.record_time &gt;= #{recordBeginTime}
            </if>
            <if test="recordEndTime != null and recordEndTime != ''">
                and t.record_time &lt;= #{recordEndTime}
            </if>
            and exists (select 1 from t_user u where u.is_deleted = 0 and u.id = t.company)
        </where>
        order by t.record_time desc
    </select>

    <!--  条件查询每条电能电费使用情况数据  -->
    <select id="getEveryDayElectricityUsedByCondition"
            resultType="com.wangwen.gdfwzhxt.model.vo.cons.ElectricityUsedGroupByDayVo">
        select date_format(t.dayDate, '%Y-%m-%d') as dayDate,
               t.totalEnergyUsed,
               t.totalBalanceUsed,
               t.dayUsedEnergy,
               t.dayMinBalance
        from (
            select date(t.record_time) as dayDate,
                 sum(t.last_record_to_now_used_energy) as totalEnergyUsed,
                 sum(t.last_record_to_now_used_balance) as totalBalanceUsed,
                 max(t.used_energy) as dayUsedEnergy,
                 min(t.remaining_balance) as dayMinBalance
                from t_electricity_usage t
            <where>
                <if test="consNo != null and consNo != ''">
                    and t.cons_no like concat('%', #{consNo}, '%')
                </if>
                <if test="consName != null and consName != ''">
                    and t.cons_name like concat('%', #{consName}, '%')
                </if>
                <if test="recordBeginTime != null and recordBeginTime != ''">
                    and t.record_time &gt;= #{recordBeginTime}
                </if>
                <if test="recordEndTime != null and recordEndTime != ''">
                    and t.record_time &lt;= #{recordEndTime}
                </if>
                and exists (select 1 from t_user u where u.is_deleted = 0 and u.id = t.company)
            </where>
            group by date(t.record_time)
            order by date(t.record_time) asc
        ) t
    </select>
</mapper>