<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangwen.gdfwzhxt.manager.mapper.SysRoleMapper">
    <sql id="columns">
        id,
        role_name as roleName,
        role_code as roleCode,
        description,
        create_time as createTime,
        update_time as updateTime,
        is_deleted as isDeleted,
        company
    </sql>

    <!-- 添加角色  -->
    <insert id="addRole">
        insert into t_role (id, role_name, role_code, description, create_time, company)
        values (#{id}, #{roleName}, #{roleCode}, #{description}, now(), #{company})
    </insert>

    <!--  修改角色  -->
    <update id="updateRole">
        update t_role set
        <if test="roleName != null and roleName != ''">
            role_name = #{roleName},
        </if>
        <if test="roleCode != null and roleCode != ''">
            role_code = #{roleCode},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        update_time = now()
        where id = #{id}
    </update>

    <select id="findByPage" resultType="com.wangwen.gdfwzhxt.model.entity.system.SysRole">
        select <include refid="columns"/>
          from t_role t
        <where>
            <if test="roleName != null and roleName != ''">
                and t.role_name like concat('%', #{roleName}, '%')
            </if>
            and t.is_deleted = 0
            and exists (select 1 from t_user u where u.is_deleted = 0 and u.id = t.company)
        </where>
    </select>
</mapper>